$font-color: #4a4a4a;

body{
    font-family: "Poppins", sans-serif;
    color: $font-color ;
}

h1 {
    font-weight: 600;
}

header {
    border-bottom: 1px solid $font-color;
}

.user-name {
    font-weight: 700;
}