<header>
	<div class="header__left-side">
		<h1><%= info.title %></h1>
		<p class="current-date">
			<strong><%= info.currentDate.day %></strong> | <%=
			`${info.currentDate.month} ${info.currentDate.date}
			,${info.currentDate.year}`%>
		</p>
	</div>
	<div class="header__right-side">
		<nav>
			<ul>
				<li><a href="/">Monthly Living Expenses</a></li>
				<li><a href="/debtplan">Debt Plan</a></li>
				<li><a href="/budget">Monthly Budget</a></li>
			</ul>
		</nav>
	</div>
</header>
